<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<TestRunParameters>
		<Parameter name="ExplicitWait" value="15" />
		<Parameter name="Browser" value="Chrome" />
		<Parameter name="EnvironmentUrl" value="https://www.epam.com/" />
		<Parameter name="PromptForDownload" value="false" />
		<Parameter name="AlwaysOpenPdfExternally" value="true" />
		<Parameter name="ApiBaseUrl" value="https://jsonplaceholder.typicode.com" />
		<Parameter name="ApiMinLogLevel" value="INFO" />
	</TestRunParameters>
</RunSettings>